@font-face{
    font-family: harry-poter;
    src: url("./font/HARRYP__.TTF");
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: NotoSans;
    background-color: #161d20;
    
}

.menu {
    display: none;
}
.nav {
    background-color: #161d20;
    height: 70px;
    color: #f0f1f2;
    font-size: 18px;
    position: fixed;
    width: 100vw;
}
.div-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}
nav ul a {
    margin: 0px 20px;
    align-items: center;
    display: flex;
    color: aliceblue;
    text-decoration: none;
}
.container {
    max-width: 1200px;
    padding: 0 40px;
    margin: 0 auto;
}
.nav-img {
    height: 45px;
    width: auto;
}
.grid{
    padding-top: 100px;
    display: grid;
    grid-template-columns:[col-start-1 ] 1fr[col-end-1 col-start-2 ] 1fr[col-end-2 col-start-3] 1fr [col-end-3 col-start-4] 1fr[col-end-4];
    grid-template-rows:[row-start-1 ] 1fr[row-end-1 row-start-2] 1fr [row-end-2 row-start-3] 1fr [row-end-3 row-start-4] 1fr [row-end-4] ;
}
.header{
    grid-row: 1/2;
    grid-column: 1/5;
   text-align: center;
}
.about{
    margin-top: 20px;
    grid-row: 2/3;
    grid-column:1/3;
    height: 600px;
}
.info{
    margin-top: 20px;
    grid-row: 2/3;
    grid-column: 3/5;
height: 600px;
}
.cards{
    grid-row:3/4;
    grid-column: 1/5;
    background-color: brown;
    height: 500px;
}
.img-header{
    width: 100%;
    object-fit: cover;
}
.p-header{
    font-size: 70px;
    padding: 0px;
    margin: 0px;
    color: #2d7c8d;
    font-family: harry-poter;
    text-align: center;
    padding-top: 20px;
}
.p-info{
    color: #f0f1f2;
    font-size: 20px;
    padding: 40px;
   
}
.photo{
    width: 100%;
    object-fit: cover;
}
